# Next.js system files
node_modules/
.next/
out/
build/
.env*.local

# stuff local app storage (Keeps your data & photos private)
data/inventory.json
public/images/*
!public/images/.gitkeep

# System trash files
.DS_Store
